.panel {

  
  &.open {
    right: 0;
  }

  .handler {
    position: absolute;
    background-color: #ff8686;
    top: 0;
    left: -30px;
    width: 30px;
    height: 150px;
    border-top-left-radius: 5px;

    span {
      position: absolute;
      top: 50px;
      left: 0;
      display: inline-block;
      transform: rotate(-90deg);
      color: rgb(250, 250, 250);
      font-family: "Lato", serif;
      font-weight: 500;
      font-style: normal;
    }
  }

  .left-panel {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;

    .head-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .reminder-buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;



    }
  }

  .right-panel {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      align-self: flex-start;
    }
  }
}
