/* menu.scss */
@import "../../styles/variables.scss";

.menu-container {
  width: 100%;
  // max-width: 1200px; /* Szerokość contentu */
  height: 100%;
  padding: 0 100px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* Logo i nawigacja po lewej */
  .logo {
    display: flex;
    align-items: center;
    gap: 105px;
    flex: 1;
    cursor: pointer;

    /* SITEMENU (Desktop) */
    .sitemenu {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        display: flex;
        font-family: $font-secondary;
        font-weight: 300;
        cursor: pointer;
        transition: color 0.2s;
        
        &:hover {
           color: $color-primary-green;
        }
      }
    }
  }

  /* BURGER (Desktop - ukryty) */
  .menu-burger {
    display: none; 
    cursor: pointer;
    z-index: 101;
  }
}

/* --- MEDIA QUERIES --- */

@media (max-width: 765px) {
  .menu-container {
    padding: 0 40px;

    .logo {
      gap: 0; 
      
      /* UKRYWAMY linki na mobile */
      .sitemenu {
        display: none;
      }
    }

    /* POKAZUJEMY Burgera na mobile */
    .menu-burger {
      display: block;
      color: $color-text-main; 
    }
  }
}

@media (max-width: 430px) {
  .menu-container {
    padding: 0 20px;

    
    /* POKAZUJEMY Burgera na mobile */
    .menu-burger {
      display: block;
      color: $color-text-main; 
    }
  }
}


/* Styl dla zawartości panelu bocznego (mobile) */
.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; /* Duże odstępy między linkami */
  
  span {
      /* UJEDNOLICENIE Z DESKTOPEM */
      font-family: $font-secondary; /* Ta sama czcionka */
      font-weight: 300; /* Ta sama waga */
      font-size: 28px; /* Dużo większy rozmiar na mobile */
      color: $color-text-main;
      cursor: pointer;
      transition: color 0.2s, transform 0.2s;
      
      &:hover {
         color: $color-primary-green;
         transform: scale(1.05);
      }
  }
  
  /* Przycisk w panelu */
  .mobile-btn-wrapper {
    margin-top: 20px;
    transform: scale(1.2); /* Powiększamy przycisk o 20% względem desktopu */
  }
}