.hero-desktop-root {
    font-family: "ProductSans";
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 140px);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
  }
  
  .hero-desktop-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    
    
  }
  
  .hero-desktop-illustration {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 550px;
  }
  .hero-desktop-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .hero-desktop-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 34px;
  }
  
  .hero-desktop-title {
    font-size: 83px;
    line-height: 1.13;
    font-family: "ProductSans", Arial, sans-serif;
    color: #262626;
    font-weight: 100;
    margin: 0 0 18px 0;
  }
  
  .hero-desktop-actions {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
  }
  .hero-desktop-btn {
    width: 200px;
    font-family: "ProductSans";
    font-size: 20px;
    padding: 13px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 16px #0002;
    transition: background 0.13s, color 0.13s;
    font-weight: 100;
    background: #000000;
    color: #ffffff;
    // border: 1.5px solid #ded8b8;
    &:hover {
      background: #FEF5E7;
      color: #222;
      border: 1.5px solid transparent;
    }
  }
  .hero-desktop-phone {
    font-family: "ProductSans";
    text-decoration: none !important;
    background: #fff;
    color: #222;
    border: 1.5px solid #bbb;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 13px 22px;
  }
  .hero-desktop-phone-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url('../../../assets/Phone.png') center center/contain no-repeat;
    margin-right: 6px;
  }
  .hero-desktop-slogan {
    color: #424242;
    font-size: 28px;
    font-weight: 300;
    margin-top: 22px;
  }
  
  @media (max-width: 768px) {
    .hero-desktop-container {
      flex-direction: column;
      gap: 24px;
      padding: 28px 0 18px 0;
    }
    .hero-desktop-content {
      align-items: center;
      text-align: center;
      gap: 18px;
    }
  }
  