.przeglad-wentylacyjny {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 0 0 0;

  background-color: #ffffff;
  font-family: "ProductSans";

  .container_info {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    h1 {
      width: 100%;
      text-align: center;
      font-family: "ProductSans";
      font-weight: 100;
      font-size: 128px;

      color: #333;
      margin-bottom: 20px;
    }

    .textsAndButton {
      display: flex;
      .left {
        flex: 3;
        padding: 0 30px;

        .description {
          font-size: 32px;
          line-height: 1.5;
          font-weight: 100;
          color: #555;
          margin-bottom: 80px;
        }

        .cta {
          background-color: #506446;
          color: white;
          border: none;
          border-radius: 30px;
          padding: 14px 26px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          gap: 10px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #c3d4b4;
            color: #506446;
          }
        }
      }
    }

    .right {
      flex: 2;
      padding: 0 30px;
      font-family: "ProductSans";
      font-weight: 100;

      .steps {
        font-size: 22px;
        color: #666;

        p {
          font-weight: 400;
          margin-bottom: 10px;
        }

        ul {
          padding-left: 20px;

          li {
            margin-bottom: 12px;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .container_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 80px;
    align-items: center;

    .faq_one,
    .faq_two,
    .faq_three {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      margin-bottom: 50px;

      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
      }
      span {
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 10px;
      }
      .cta {
        background-color: #506446;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 14px 26px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        transition: background-color 0.3s ease;
        max-width: 400px;
        margin-top: 40px;

        &:hover {
          background-color: #c3d4b4;
          color: #506446;
        }
      }
    }
  }

  .container_warning {
    background-color: #bcd7ff;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 60px 120px;

    h2 {
      font-size: 64px;
      font-family: "ProductSans";
      font-weight: 400;
      margin-bottom: 40px;
    }
    p {
      font-size: 32px;
      max-width: 1000px;
      font-family: "ProductSans";
      font-weight: 100;
    }
  }
  .container_blog {
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    gap: 40px;
    .blog {
      display: flex;
      gap: 30px;
      .blog_left {
        display: flex;
        img {
          width: 300px;
          height: auto;
        }
      }

      .blog_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-family: "ProductSans";
          font-weight: 400;
          font-size: 26px;
        }
        p {
          font-family: "ProductSans";
          font-weight: 100;
          font-size: 16px;
        }
        button {
          background-color: #bcd7ff;
          border: none;
          margin: 0 0 0 auto;
          padding: 8px 45px;
          border-radius: 20px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .przeglad-budowlany {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    .container_info {
      padding: 80px 0px;
      gap: 20px;

      h1 {
        font-size: 64px;
        margin-bottom: 10px;
      }

      .textsAndButton {
        flex-direction: column;
        align-items: center;

        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0;

          .description {
            font-size: 24px;
            margin-bottom: 40px;
            text-align: left;
          }
          .cta {
            // align-self: flex-end;
          }
        }
        .right {
          padding: 0;
          // text-align: center;
          margin-top: 50px;

          .steps {
            font-size: 18px;
            text-align: left;
          }
        }
      }
    }

    .container_faq {
      margin-top: 0px;
    }

    .container_warning {
      padding: 60px 40px;
      margin-left: 0;
      h2 {
        font-size: 42px;
      }
      p {
        font-size: 22px;
      }
    }

    .container_blog {
      .blog {
        flex-direction: column;
        gap: 30px;
        .blog_left {
          img {
            width: 100%;
            height: auto;
          }
        }
        .blog_right {
          gap: 10px;

          h3 {
            font-size: 22px;
          }
        }
      }
    }
  }
}
