.goldHand {
  width: 100%;
  background-color: #bcd7ff;
  padding: 40px 40px 40px 346px;

  h1 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 25px;
    color: #4a4a4a;
    font-size: 64px;
  }
  p {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
  }
  .buttons{
    margin-top: 25px;
  }
}
