.explanations {
  font-family: "Lato", serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 45px;
  }
  .exp1 {
    margin-bottom: 35px;
  }
  .exp2_img {
    display: flex;
    padding-left: 250px;

    .exp2 {
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 25px;
        width: 650px;
      }
    }
    img {
      width: 450px;
      height: 450px;
    }
  }
  .exp3_img {
    display: flex;
    align-items: center;
    padding-left: 250px;

    img {
      width: 450px;
      height: 450px;
    }
    span {
      width: 650px;
    }
  }
  .exp4 {
    padding-left: 120px;
  }
  .exp-footer {
    display: flex;
    flex-direction: column;
    height: 430px;
    background-color: #bcd7ff;
    padding: 40px 40px;
    margin-top: 50px;

    h1 {
      font-family: "Merriweather", serif;
      font-size: 96px;
      font-weight: 300;
    }
    .zatem{
        align-self: flex-end;
    }
  }
}
