.map-gl-wrapper {
  width: 100%;
  height: 800px; /* Duża wysokość dla wygody */
  position: relative;
  
  /* ZMIANA: Jasne tło, aby cień mapy był widoczny */
  background: radial-gradient(circle, #fffdfd 0%, #696a6b 100%); 
  /* Lub po prostu: background-color: #f9fafb; */
  
  overflow: hidden;
}

.maplibregl-map{
    display: flex; 
    width: 100% !important;
    height: 100% !important;
}
.maplibregl-canvas-container{
    height: 100%;
}

/* CSS dla Markera (to co jest wewnątrz <Marker>) */
.gl-marker {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

/* Kropka */
.gl-marker .dot {
  width: 8px;
  height: 8px;
  background-color: #9CA3AF;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid white;
}

/* Pulsowanie */
.gl-marker .pulse-wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transform: scale(1);
}

/* Tooltip */
.gl-tooltip {
  position: absolute;
  bottom: 25px;
  background-color: #1F2937;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(5px);
  pointer-events: none;
  transition: all 0.2s;
}

/* --- STAN AKTYWNY (HOVER) --- */
.gl-marker:hover,
.gl-marker.active {
  z-index: 10;
  transform: scale(1.2);
}

.gl-marker.active .dot {
  background-color: #B94E48; /* Twój ceglasty kolor */
  width: 12px;
  height: 12px;
}

.gl-marker.active .pulse-wave {
  background-color: rgba(185, 78, 72, 0.4);
  animation: markerPulse 2s infinite;
  opacity: 1;
}

.gl-marker.active .gl-tooltip {
  opacity: 1;
  transform: translateY(0);
}

@keyframes markerPulse {
  0% { transform: scale(1); opacity: 0.8; }
  100% { transform: scale(3); opacity: 0; }
}