.mainfooter {
  width: 100%;
  height: 180px;
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 0 40px 0 40px;
  background-color: transparent;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

  .greenscreamlogo {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    span {
      font-family: "ProductSans";
    }
    .greenscreamlogo_up {
      font-size: 36px;
      font-weight: 100;
      font-style: normal;
      color: white;
    }
    .greenscreamlogo_down {
      font-style: normal;
      font-size: 56px;
      font-weight: 400;
    }
  }
}

@media (max-width: 768px) {
  .mainfooter {
    display: none; // Kompletnie wyłączamy stopkę (z greenscreamlogo) na mobile, by upewnić się, że nie zajmuje pustej przestrzeni.
  }
}

@media (max-width: 425px) {
  .mainfooter {
    display: none; // Również ukrywamy na bardzo małych telefonach
  }
}
