.call_button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 5px 5px 5px 25px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 300px;
  min-width: 200px;

  span {
    text-decoration: none;
    color: rgb(88, 88, 88);
    letter-spacing: 1px;
    font-family: "ProductSans";
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
  }
  .btn-icon {
    width: 40px;
    height: 40px;
    background-color: #e4e4e4;
    color: black;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 375px){
  .call_button {
    padding: 5px 5px 5px 25px;
    gap: 5px;
    span {
      font-size: 18px;
    }
  }
}
@media (min-width: 375px) and ( max-width: 425px) {
  .call_button {
    gap: 15px;
    span {
      font-size:18px;
    }
  }
}

@media (min-width: 425px) and ( max-width: 768px) {
  .call_button {
    span {
      font-size: 20px;
    }
  }
}
