.aggressive-landing-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .section-divider {
        padding: 4rem 0;
        width: 100%;

        &.bg-light {
            background-color: #f9fafb;
        }

        &.pb-large {
            padding-bottom: 8rem; // Miejsce na Sticky Order Bar
        }
    }
}