.inspection-form {
  padding: 80px 40px;

  font-family: "Lato", serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;

  label {
    display: block;
    margin: 15px 0 10px 0;
  }

  input,
  select {
    font-family: "Lato", serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;

  }

  input::placeholder {
    color: #a2a2a2;
    /* Zmien kolor na dowolny */
    opacity: 1;
    /* Ustawienie pełnej przezroczystości */
  }

  h2 {
    font-family: "Merriweather", serif;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
  }

  p {
    margin-bottom: 30px;
  }

  .typ {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;

    .prop {
      width: 400px;

      option {
        color: rgb(19, 19, 19);
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        max-height: 0;
      }

      to {
        opacity: 1;
        max-height: 200px;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
        max-height: 200px;
      }

      to {
        opacity: 0;
        max-height: 0;
      }
    }

    .klatkiCounter {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .klatkiCounter.visible {
      animation-name: fadeIn;
    }

    .klatkiCounter:not(.visible) {
      animation-name: fadeOut;
    }

    .klatki {
      width: 100px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
    }
  }

  .adres-box{

    display: flex;
    flex-direction: column;
    .adres {
      width: 300px;
    }
  }
  

  .dane {
    width: 100px;
    margin-right: 25px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .zakres {
    .opis {
      margin: 25px 0;
    }
  }


  

  .checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .add-to-cart-btn,
  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #677c59;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 30px;
    color: white;
    width: 250px;
    padding: 15px 25px;

    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
  }

  .termin {
    margin-top: 25px;
  }

  .cart-section {
    display: flex;
      flex-direction: column;
      gap: 15px;
    ul {
      margin-top: 40px;
      list-style-type: none;
      
    }
  }
}