.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/images/login_background.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

  .login-page {
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 40px;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
    border-radius: 40px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.2); /* Dodano cień */

    h2 {
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
    }
    .login-email {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-bottom: 25px;
      margin-top: 45px;

      input,
      button {
        width: 300px;
        padding: 15px 20px;
        border-radius: 20px;
        border: none;
        border: 1px solid rgb(161, 161, 161);
        font-family: "Lato", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
      }
      button {
        background-color: rgb(108, 189, 107);
        border: none;
      }
      p {
        font-family: "Lato", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
      }
    }
    .login-social {
      display: flex;
      gap: 15px;
      margin-bottom: 25px;
      button {
        border-radius: 50%;
        padding: 10px;
        border: none;
        color: white;
        background-color: rgb(108, 189, 107);
      }
    }
    .login-signup {
      margin-top: 50px;
      font-family: "Lato", serif;
      font-weight: 300;
      font-style: normal;
      font-size: 16px;
      button {
        border: none;
        background-color: transparent;
        margin-left: 10px;
        color: rgb(108, 189, 107);
        cursor: pointer;
      }
    }
  }
}
