.map-gl-wrapper {
    width: 100%;
    height: 100%; /* Wypełnia rodzica */
    min-height: 400px; /* Minimalna wysokość, żeby mapa nie zniknęła na mobile */
    position: relative;
    background: transparent; /* Przezroczyste tło */
    overflow: hidden; /* Ukrywamy to co wystaje poza zaokrąglone rogi */
    border-top-right-radius: 20px; /* Dopasowanie do Twojego designu */
    border-bottom-right-radius: 20px;
  }
  
  /* Fix dla MapLibre, żeby canvas wypełniał wrapper */
  .maplibregl-map {
      width: 100% !important;
      height: 100% !important;
  }
  .maplibregl-canvas-container {
      height: 100%;
  }
  .maplibregl-canvas{
    width: 100%;
    height: 100%;
  }
  
  /* --- MARKERY --- */
  .gl-marker {
    width: 26px; /* Troszkę mniejsze kropki, żeby pasowały do mniejszej mapy */
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .gl-marker .dot {
    width: 6px;
    height: 6px;
    background-color: #ef4444; /* Czerwona kropka */
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: 1px solid white;
  }
  
  .gl-marker .pulse-wave {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 68, 68, 0.4);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transform: scale(1);
  }
  
  /* Tooltip */
  .gl-tooltip {
    position: absolute;
    bottom: 20px;
    background-color: #fff;
    color: #1f2937;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.7rem;
    font-weight: 700;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(5px);
    pointer-events: none;
    transition: all 0.2s;
    border: 1px solid #f3f4f6;
  }
  
  /* --- STAN AKTYWNY --- */
  .gl-marker:hover,
  .gl-marker.active {
    z-index: 10;
    transform: scale(1.3);
  }
  
  .gl-marker.active .dot {
    background-color: #b91c1c; /* Ciemnoczerwony aktywny */
    width: 8px;
    height: 8px;
  }
  
  .gl-marker.active .pulse-wave {
    background-color: rgba(185, 28, 28, 0.3);
    animation: markerPulse 2s infinite;
    opacity: 1;
  }
  
  .gl-marker.active .gl-tooltip {
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes markerPulse {
    0% { transform: scale(1); opacity: 0.8; }
    100% { transform: scale(3); opacity: 0; }
  }