.menu-section {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  top: 0;
  background-color: transparent;
  z-index: 11;
  height: 80px;

  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;

  .menu-burger{
    position: fixed;
    right: 40px;
    top: 25px;
    z-index: 16;
    cursor: pointer;
  }


  &.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition-duration: 0.2s;
  }
  &.visible {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.7s;
  }

  }

@media (max-width: 680px) {
  .menu-section {
    background-color: transparent;
  }

}