.diy-desktop-root {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 60px 0 80px 0;
    background: #fff;
    font-family: 'ProductSans', Arial, sans-serif;
  }

  .diy-desktop-header {
    text-align: center;
    margin-bottom: 68px;
    h2 {
      font-size: 64px;
      font-weight: 300;
      margin: 0;
      color: #474747;
      letter-spacing: 0.03em;
    }
    .diy-desktop-subtitle {
      font-size: 22px;
      font-weight: 100;
      color: #9d9d9d;
      margin-top: 3px;
      letter-spacing: 0.09em;
    }
  }
  .diy-desktop-cols {
    display: flex;
    gap: 102px;
    align-items: flex-start;
    height: auto;
  }
  
  .diy-desktop-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    min-width: 350px;
    max-width: 440px;
    width: 45vw;
  }
  .diy-desktop-tile {
    aspect-ratio: 1 / 1; // to robi idealny kwadrat!
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0 4px 22px #b0beae10;
    padding: 12px 14px;
    color: #515151;
    transition: background 0.18s, box-shadow 0.18s;
    min-width: 0; // zapobiega rozjechaniu
    min-height: 0;
  
    
    
    .diy-desktop-tile-title {
      font-size: 14px;
      font-weight: 100;
    //   margin-bottom: 4px;
      color: #434343;
    }
    
    &.active {
      box-shadow: 0 6px 32px #cab75d22;
    //   border: 2.5px solid #cab75d66;
      cursor: default;
    }
    &:not(.active):hover {
      box-shadow: 0 6px 18px #b0beae15;
    //   border: 2.5px solid #f2e9cc;
      background: #f5f5f5;
    }
  }
  .diy-desktop-detail {
    flex: 1 1 auto;
    min-width: 340px;
    padding: 16px 22px;
    background: transparent;
    .diy-desktop-detail-title {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 14px;
      color: #212121;
    }

    .diy-desktop-tile-intro {
        font-size: 0.92rem;
        font-weight: 400;
        color: #727272;
        opacity: 0.88;
      }
    .diy-desktop-detail-content {
      font-size: 1.04rem;
      color: #434343;
      
      h4 {
        font-size: 1.06em;
        margin-top: 1em;
        margin-bottom: 0.4em;
        font-weight: 600;
        color: #6d5f34;
      }
      p {
        margin-bottom: 0.65em;
      }
    }
  }
  